{#
Copyright (c) 2017,2022-2023 Alex Urich <urichalex@mail.ru>
License: GNU LGPL 2 only, see file LICENSE
#}
<div class="links-create">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h3 class="card-title">{{ t('admin/reasons', 'CREATE_TITLE') }}</h3>
                <div class="card-tools">
                    <a href="{{ path(['index']) }}" class="btn btn-tool text-primary">
                        {{ t('admin/reasons', 'CREATE_LINK_BACK') }}
                    </a>
                </div>
            </div>
        </div>
        <div class="card-body">
            {{ this.render('_form.twig', {
                model: model,
                reasons: reasons
            }) | raw }}
        </div>
    </div>
</div>