{#
Copyright (c) 2017,2022-2023 Alex Urich <urichalex@mail.ru>
License: GNU LGPL 2 only, see file LICENSE
#}
{{ set(this, 'title', name) }}
<div class="site-error">

    <h1>{{ name }}</h1>

    <p>
        {{ message }}
    </p>

</div>